.text-box{
    position: absolute;
    top: 255px;
    left: 27px;
    width: 242px;
    height: 36px;
    border: 1px solid #00B38E ;
    background-image: url('../../assets/images/Search.png');
    background-repeat: no-repeat;
    background-position: 215px 10px;    
}
