@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
.container
{
    width: 1321px;
    height: 235px;
}
.admin-icon
{
    margin-left: 18px ;
}
.admin-main
{
    margin-bottom: 20px;
}
.admin-name
{
    width: 183px;
    height: 30px;
    color: rgba(2, 71, 91, 1);
    margin-left: 12px;
}

.admin-summary
{
    width: 461px;
    height: 60px;
    margin-left: 20px;
    position: absolute;
    margin-top: -95px;
    

}

.users-icon
{
    margin-left: 438px ;
    margin-top: 27px;
}

.doctors-length
{
    width: 84px;
    height: 20px;
    margin-left: 14.14px;
    margin-bottom: 27px;
    font-size: medium 20px;
}

.mail-icon
{
    margin-left: 604px;
    margin-bottom: 26.75px ;
    
}

.mail-address
{
    margin-top: 300px;
    margin-left: 12px;
    top: 145px;
} 

.glyphicon
{
    font-size: 30px;
}

.phone-icon
{
    margin-left: 604px;
    position: relative;
    top: -8px;
    
}
.phone-number
{
    margin-left: 12px;
    top: -10px;
    position: relative;
}

.edit-icon
{
    margin-top: 62px;
    margin-left: 23px;
}

.edit-admin
{
    margin-left: 7.38px;
    position: relative;
    top: -7px;

}